.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-route-picker-container {
  display: flex;
}

.route-picker{
  width: 250px;
  height: 900px;
  overflow-y: scroll;
  text-align: center;
}

path {
  fill: #ccc;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 0.5;
}