.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.svg-container{
  border: 1px solid black;
}

path {
  fill: #ccc;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 0.5;
}